services:
    candle-yolo:
        build:
            context: .
            dockerfile: Dockerfile
        image: candle-yolo-v8:latest
        container_name: candle_yolo_runner

        # Set the working directory to match the Dockerfile
        working_dir: /usr/local/bin

        volumes:
            - ./images:/usr/local/bin/images
        entrypoint: ["candle-yolo-v8"]

volumes:
    images: {}